{
  "Name": "floor3pro",
  "Collections": {
    "ReferenceAssCollection": [
      {
        "FilePath": "C:\\Program Files\\dotnet\\shared\\Microsoft.NETCore.App\\6.0.36\\System.Private.CoreLib.dll",
        "Name": "System.Private.CoreLib",
        "Type": 0
      },
      {
        "FilePath": "C:\\Program Files\\dotnet\\shared\\Microsoft.NETCore.App\\6.0.36\\Microsoft.CSharp.dll",
        "Name": "Microsoft.CSharp",
        "Type": 0
      },
      {
        "FilePath": "C:\\Program Files\\dotnet\\shared\\Microsoft.NETCore.App\\6.0.36\\System.Threading.dll",
        "Name": "System.Threading",
        "Type": 0
      },
      {
        "FilePath": "C:\\Program Files\\dotnet\\shared\\Microsoft.NETCore.App\\6.0.36\\netstandard.dll",
        "Name": "netstandard",
        "Type": 0
      },
      {
        "FilePath": "C:\\Program Files\\dotnet\\shared\\Microsoft.WindowsDesktop.App\\6.0.36\\WindowsBase.dll",
        "Name": "WindowsBase",
        "Type": 0
      },
      {
        "FilePath": "C:\\Program Files\\dotnet\\shared\\Microsoft.NETCore.App\\6.0.36\\System.Runtime.dll",
        "Name": "System.Runtime",
        "Type": 0
      },
      {
        "FilePath": "C:\\Program Files\\dotnet\\shared\\Microsoft.NETCore.App\\6.0.36\\System.Linq.dll",
        "Name": "System.Linq",
        "Type": 0
      },
      {
        "FilePath": "C:\\Program Files\\dotnet\\shared\\Microsoft.NETCore.App\\6.0.36\\System.Linq.Expressions.dll",
        "Name": "System.Linq.Expressions",
        "Type": 0
      },
      {
        "FilePath": "C:\\Program Files\\dotnet\\shared\\Microsoft.WindowsDesktop.App\\6.0.36\\PresentationCore.dll",
        "Name": "PresentationCore",
        "Type": 0
      },
      {
        "FilePath": "C:\\Program Files\\dotnet\\shared\\Microsoft.NETCore.App\\6.0.36\\System.Collections.dll",
        "Name": "System.Collections",
        "Type": 0
      },
      {
        "FilePath": "C:\\Program Files\\dotnet\\shared\\Microsoft.AspNetCore.App\\6.0.36\\Microsoft.AspNetCore.dll",
        "Name": "Microsoft.AspNetCore",
        "Type": 0
      },
      {
        "FilePath": "C:\\Program Files\\dotnet\\shared\\Microsoft.AspNetCore.App\\6.0.36\\Microsoft.AspNetCore.Http.dll",
        "Name": "Microsoft.AspNetCore.Http",
        "Type": 0
      },
      {
        "FilePath": "C:\\Program Files\\dotnet\\shared\\Microsoft.AspNetCore.App\\6.0.36\\Microsoft.AspNetCore.Http.Abstractions.dll",
        "Name": "Microsoft.AspNetCore.Http.Abstractions",
        "Type": 0
      },
      {
        "FilePath": "C:\\Program Files\\dotnet\\shared\\Microsoft.AspNetCore.App\\6.0.36\\Microsoft.AspNetCore.Http.Features.dll",
        "Name": "Microsoft.AspNetCore.Http.Features",
        "Type": 0
      },
      {
        "FilePath": "C:\\Program Files\\dotnet\\shared\\Microsoft.AspNetCore.App\\6.0.36\\Microsoft.Extensions.Hosting.Abstractions.dll",
        "Name": "Microsoft.Extensions.Hosting.Abstractions",
        "Type": 0
      },
      {
        "FilePath": "C:\\Program Files\\dotnet\\shared\\Microsoft.AspNetCore.App\\6.0.36\\Microsoft.Extensions.Primitives.dll",
        "Name": "Microsoft.Extensions.Primitives",
        "Type": 0
      },
      {
        "FilePath": "C:\\Program Files\\dotnet\\shared\\Microsoft.AspNetCore.App\\6.0.36\\Microsoft.AspNetCore.Http.Results.dll",
        "Name": "Microsoft.AspNetCore.Http.Results",
        "Type": 0
      },
      {
        "FilePath": "C:\\Program Files\\dotnet\\shared\\Microsoft.AspNetCore.App\\6.0.36\\Microsoft.AspNetCore.Routing.dll",
        "Name": "Microsoft.AspNetCore.Routing",
        "Type": 0
      },
      {
        "FilePath": "C:\\Program Files\\dotnet\\shared\\Microsoft.AspNetCore.App\\6.0.36\\Microsoft.AspNetCore.Http.Extensions.dll",
        "Name": "Microsoft.AspNetCore.Http.Extensions",
        "Type": 0
      },
      {
        "FilePath": "C:\\Program Files\\dotnet\\shared\\Microsoft.NETCore.App\\6.0.36\\System.Net.dll",
        "Name": "System.Net",
        "Type": 0
      },
      {
        "FilePath": "C:\\Program Files\\dotnet\\shared\\Microsoft.NETCore.App\\6.0.36\\System.Net.Http.dll",
        "Name": "System.Net.Http",
        "Type": 0
      },
      {
        "FilePath": "C:\\Program Files\\dotnet\\shared\\Microsoft.NETCore.App\\6.0.36\\System.Net.Requests.dll",
        "Name": "System.Net.Requests",
        "Type": 0
      },
      {
        "FilePath": "C:\\Users\\GMK\\Desktop\\LWJ\\ProfControlV8Update\\Newtonsoft.Json.dll",
        "Name": "Newtonsoft.Json",
        "Type": 1
      }
    ]
  },
  "LibVersion": "net6.0",
  "CompileFilter": "*.config;*.vsidx;*.lock;*.cstmp;*.html;",
}